In [1]:
import pandas as pd
import numpy as np

#### Load file

In [9]:
df  = pd.read_csv(r".\bike_station_information.csv")
df

,lat,rental_methods,region_id,eightd_has_key_dispenser,external_id,electric_bike_surcharge_waiver,lon,legacy_id,station_id,capacity,eightd_station_services,has_kiosk,name,short_name,station_type
0,42.340115,"['CREDITCARD', 'KEY']",10,True,f83464e4-0de8-11e7-991c-3863bb43a7d0,False,-71.100619,3,f83464e4-0de8-11e7-991c-3863bb43a7d0,14,[],True,Colleges of the Fenway - Fenway at Avenue Loui...,B32006,classic
1,42.345392,"['CREDITCARD', 'KEY']",10,False,f834658f-0de8-11e7-991c-3863bb43a7d0,False,-71.069616,4,f834658f-0de8-11e7-991c-3863bb43a7d0,19,[],True,Tremont St at E Berkeley St,C32000,classic
2,42.341814,"['CREDITCARD', 'KEY']",10,False,f834662c-0de8-11e7-991c-3863bb43a7d0,False,-71.090179,5,f834662c-0de8-11e7-991c-3863bb43a7d0,15,[],True,Northeastern University - North Parking Lot,B32012,classic
3,42.361257,"['CREDITCARD', 'KEY']",10,False,f83466c6-0de8-11e7-991c-3863bb43a7d0,False,-71.065287,6,f83466c6-0de8-11e7-991c-3863bb43a7d0,15,[],True,Cambridge St at Joy St,D32000,classic
4,42.353391,"['CREDITCARD', 'KEY']",10,False,f8346768-0de8-11e7-991c-3863bb43a7d0,False,-71.044571,7,f8346768-0de8-11e7-991c-3863bb43a7d0,15,[],True,Fan Pier,A32000,classic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,42.374106,"['CREDITCARD', 'KEY']",10,False,7e1dae55-4d3d-4a41-b969-2aeca70e0e69,False,-71.032763,600,7e1dae55-4d3d-4a41-b969-2aeca70e0e69,11,[],True,Bremen St at Marion St,A32055,classic
463,42.365679,"['CREDITCARD', 'KEY']",10,False,287aedf5-0361-47e9-9de0-14ae3b75cc0d,False,-71.040301,601,287aedf5-0361-47e9-9de0-14ae3b75cc0d,21,[],True,Lewis Mall Wharf,A32057,classic
464,42.371977,"['CREDITCARD', 'KEY']",8,False,9721c80e-fc8f-474f-8918-b68c041d2836,False,-71.075858,602,9721c80e-fc8f-474f-8918-b68c041d2836,23,[],True,Morgan Ave at North First St,M32086,classic
465,42.374339,"['CREDITCARD', 'KEY']",8,False,800bde2c-51df-497c-ac2d-bc3a8c00c164,False,-71.119664,603,800bde2c-51df-497c-ac2d-bc3a8c00c164,15,[],True,Church St,M32087,classic
466,42.403369,"['CREDITCARD', 'KEY']",104,False,a75d3da1-ce74-447f-8e80-52506a81aff3,False,-71.047314,604,a75d3da1-ce74-447f-8e80-52506a81aff3,11,[],True,Chelsea St at Vine St,V32016,classic

#### Data cleaning

- Filter only the Cambridge stations
- Make sure field types are correct
- Remove fields that are not needed

In [10]:
# Filter Cambridge Stations
df = df[df["region_id"] == 8].reset_index(drop=True)
df

,lat,rental_methods,region_id,eightd_has_key_dispenser,external_id,electric_bike_surcharge_waiver,lon,legacy_id,station_id,capacity,eightd_station_services,has_kiosk,name,short_name,station_type
0,42.358100,"['CREDITCARD', 'KEY']",8,True,f83493c0-0de8-11e7-991c-3863bb43a7d0,False,-71.093198,67,f83493c0-0de8-11e7-991c-3863bb43a7d0,27,[],True,MIT at Mass Ave / Amherst St,M32006,classic
1,42.365070,"['CREDITCARD', 'KEY']",8,True,f8349440-0de8-11e7-991c-3863bb43a7d0,False,-71.103100,68,f8349440-0de8-11e7-991c-3863bb43a7d0,19,[],True,Central Square at Mass Ave / Essex St,M32011,classic
2,42.372217,"['CREDITCARD', 'KEY']",8,False,f834952a-0de8-11e7-991c-3863bb43a7d0,False,-71.121881,70,f834952a-0de8-11e7-991c-3863bb43a7d0,23,[],True,Harvard Kennedy School at Bennett St / Eliot St,M32016,classic
3,42.362242,"['CREDITCARD', 'KEY']",8,False,f8349672-0de8-11e7-991c-3863bb43a7d0,False,-71.083111,72,f8349672-0de8-11e7-991c-3863bb43a7d0,23,[],True,One Broadway / Kendall Sq at Main St / 3rd St,M32003,classic
4,42.373329,"['CREDITCARD', 'KEY']",8,False,f8349745-0de8-11e7-991c-3863bb43a7d0,False,-71.120986,73,f8349745-0de8-11e7-991c-3863bb43a7d0,15,[],True,Harvard Square at Brattle St / Eliot St,M32017,classic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,42.369036,"['CREDITCARD', 'KEY']",8,False,93911aa1-b5e4-48aa-a2b6-38fbcf613006,False,-71.086310,590,93911aa1-b5e4-48aa-a2b6-38fbcf613006,19,[],True,John Ahern Field at Kennedy-Longfellow School,M32083,classic
79,42.395222,"['CREDITCARD', 'KEY']",8,False,abefafdc-c772-4671-86fe-fc15a42adebb,False,-71.144219,592,abefafdc-c772-4671-86fe-fc15a42adebb,23,[],True,87-101 Cambridgepark Drive,M32084,classic
80,42.363565,"['CREDITCARD', 'KEY']",8,False,986068c4-d11a-465a-b8d0-bd0960c57f51,False,-71.100442,597,986068c4-d11a-465a-b8d0-bd0960c57f51,15,[],True,Mass Ave/Lafayette Square,M32085,classic
81,42.371977,"['CREDITCARD', 'KEY']",8,False,9721c80e-fc8f-474f-8918-b68c041d2836,False,-71.075858,602,9721c80e-fc8f-474f-8918-b68c041d2836,23,[],True,Morgan Ave at North First St,M32086,classic
82,42.374339,"['CREDITCARD', 'KEY']",8,False,800bde2c-51df-497c-ac2d-bc3a8c00c164,False,-71.119664,603,800bde2c-51df-497c-ac2d-bc3a8c00c164,15,[],True,Church St,M32087,classic

In [11]:
# Drop columns Public and District
df.drop(columns=['capacity', 'has_kiosk', 'rental_methods', 'eightd_has_key_dispenser', 'region_id', 'external_id', 'electric_bike_surcharge_waiver', 'station_id', 'eightd_station_services', 'legacy_id', 'station_type'], axis=1, inplace=True)
df

,lat,lon,name,short_name
0,42.358100,-71.093198,MIT at Mass Ave / Amherst St,M32006
1,42.365070,-71.103100,Central Square at Mass Ave / Essex St,M32011
2,42.372217,-71.121881,Harvard Kennedy School at Bennett St / Eliot St,M32016
3,42.362242,-71.083111,One Broadway / Kendall Sq at Main St / 3rd St,M32003
4,42.373329,-71.120986,Harvard Square at Brattle St / Eliot St,M32017
...,...,...,...,...
78,42.369036,-71.086310,John Ahern Field at Kennedy-Longfellow School,M32083
79,42.395222,-71.144219,87-101 Cambridgepark Drive,M32084
80,42.363565,-71.100442,Mass Ave/Lafayette Square,M32085
81,42.371977,-71.075858,Morgan Ave at North First St,M32086
82,42.374339,-71.119664,Church St,M32087

In [12]:
df.rename(columns={'short_name': 'Number', 'name': 'Name', 'lat': 'Latitude', 'lon': 'Longitude', 'capacity': 'Capacity', 'rental_methods': 'Rental methods', 'eightd_has_key_dispenser': 'Key Dispenser', 'has_kiosk': 'Kiosk'}, inplace=True)
df

,Latitude,Longitude,Name,Number
0,42.358100,-71.093198,MIT at Mass Ave / Amherst St,M32006
1,42.365070,-71.103100,Central Square at Mass Ave / Essex St,M32011
2,42.372217,-71.121881,Harvard Kennedy School at Bennett St / Eliot St,M32016
3,42.362242,-71.083111,One Broadway / Kendall Sq at Main St / 3rd St,M32003
4,42.373329,-71.120986,Harvard Square at Brattle St / Eliot St,M32017
...,...,...,...,...
78,42.369036,-71.086310,John Ahern Field at Kennedy-Longfellow School,M32083
79,42.395222,-71.144219,87-101 Cambridgepark Drive,M32084
80,42.363565,-71.100442,Mass Ave/Lafayette Square,M32085
81,42.371977,-71.075858,Morgan Ave at North First St,M32086
82,42.374339,-71.119664,Church St,M32087

In [13]:
# Reorder columns
df = df[['Number', 'Name', 'Latitude', 'Longitude']].copy()
df

,Number,Name,Latitude,Longitude
0,M32006,MIT at Mass Ave / Amherst St,42.358100,-71.093198
1,M32011,Central Square at Mass Ave / Essex St,42.365070,-71.103100
2,M32016,Harvard Kennedy School at Bennett St / Eliot St,42.372217,-71.121881
3,M32003,One Broadway / Kendall Sq at Main St / 3rd St,42.362242,-71.083111
4,M32017,Harvard Square at Brattle St / Eliot St,42.373329,-71.120986
...,...,...,...,...
78,M32083,John Ahern Field at Kennedy-Longfellow School,42.369036,-71.086310
79,M32084,87-101 Cambridgepark Drive,42.395222,-71.144219
80,M32085,Mass Ave/Lafayette Square,42.363565,-71.100442
81,M32086,Morgan Ave at North First St,42.371977,-71.075858
82,M32087,Church St,42.374339,-71.119664

In [15]:
np.random.seed(42)
random_bike_number = np.random.randint(0, 5, size=len(df))
random_bike_number

array([3, 4, 2, 4, 4, 1, 2, 2, 2, 4, 3, 2, 4, 1, 3, 1, 3, 4, 0, 3, 1, 4,
       3, 0, 0, 2, 2, 1, 3, 3, 2, 3, 3, 0, 2, 4, 2, 4, 0, 1, 3, 0, 3, 1,
       1, 0, 1, 4, 1, 3, 3, 3, 3, 4, 2, 0, 3, 1, 3, 1, 1, 3, 4, 1, 1, 3,
       1, 1, 3, 3, 0, 4, 4, 1, 4, 1, 0, 3, 3, 3, 4, 0, 4])

In [16]:
df['InitialBikeCount'] = df['Capacity'] - random_bike_number
df

,Number,Name,Latitude,Longitude,Capacity,Kiosk,Rental methods,Key Dispenser,InitialBikeCount
0,M32006,MIT at Mass Ave / Amherst St,42.358100,-71.093198,27,True,"['CREDITCARD', 'KEY']",True,24
1,M32011,Central Square at Mass Ave / Essex St,42.365070,-71.103100,19,True,"['CREDITCARD', 'KEY']",True,15
2,M32016,Harvard Kennedy School at Bennett St / Eliot St,42.372217,-71.121881,23,True,"['CREDITCARD', 'KEY']",False,21
3,M32003,One Broadway / Kendall Sq at Main St / 3rd St,42.362242,-71.083111,23,True,"['CREDITCARD', 'KEY']",False,19
4,M32017,Harvard Square at Brattle St / Eliot St,42.373329,-71.120986,15,True,"['CREDITCARD', 'KEY']",False,11
...,...,...,...,...,...,...,...,...,...
78,M32083,John Ahern Field at Kennedy-Longfellow School,42.369036,-71.086310,19,True,"['CREDITCARD', 'KEY']",False,16
79,M32084,87-101 Cambridgepark Drive,42.395222,-71.144219,23,True,"['CREDITCARD', 'KEY']",False,20
80,M32085,Mass Ave/Lafayette Square,42.363565,-71.100442,15,True,"['CREDITCARD', 'KEY']",False,11
81,M32086,Morgan Ave at North First St,42.371977,-71.075858,23,True,"['CREDITCARD', 'KEY']",False,23
82,M32087,Church St,42.374339,-71.119664,15,True,"['CREDITCARD', 'KEY']",False,11

#### Export file

In [14]:
df.to_csv(r".\bike_station_information_cambridge.csv", index=False)